html,
body,
canvas {
  height: 100%,
  width: 100%,
  margin: 0,
  user-select: none;
}

body {
  overflow: hidden;
}

canvas {
  background-image: url('graph.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
