html,
body,
canvas {
  height: 100%,
  width: 100%,
  margin: 0,
  user-select: none;
  overflow: hidden;
}

canvas {
  background-image: url('background-graph.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  letter-spacing: .2rem;
  -webkit-text-size-adjust: 100%;
}

.select-lines {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40px;
  z-index: 20;
  font-size: 2em;
}
