html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

span {
  position: absolute;
  user-select: none;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

canvas {
  background-image: url('background-graph.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  letter-spacing: .2rem;
  -webkit-text-size-adjust: 100%;
}
