html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

canvas {
  background-image: url('../images/background-graph.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  letter-spacing: .2rem;
  -webkit-text-size-adjust: 100%;
}
